# Build
build/
*.bin
*.elf
*.map
*.hex

# IDE
.vscode/
.idea/

# SDK config backup
sdkconfig.old

# OS
Thumbs.db
.DS_Store

# Python
__pycache__/
*.pyc
managed_components/
components/esp32-camera/
managed_components/
